body {
    background-image: url(topography.png);
}
#body1 {
    margin-left: 10%;
    margin-top: 10%;
}

ul {
    list-style: none outside none;
    margin:0;
    padding-bottom: 15px;
    text-align: right;
}
li { margin: 0 10px;
    display: inline;
}


img {
    margin-left: 10%;
    height: 50px;
    width: 50px;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #333333;
    margin: 0;
}

a, #developerid {
    color: #ff0099;
    text-underline-position: below;
}

#separator {
    text-align: center;
}